<?php 
	require 'auth.php';
	if($_SESSION["user"]["id_jabatan"] == 2) {
		$message = "Anda harus login terlebih dahulu, Anda bukan ADMIN";
		echo "<script type='text/javascript'>alert('$message');</script>";
		session_destroy();
		header("Location: login.php");
	}
 ?>
	<div id="atas">
		
		<div id="searchbox">
			<input type="text" name="Search" placeholder="Search" class="search">
			<img id="iconcari" src="search.png" style="background-color: transparent;">
			<script src="jquery-3.3.1.min.js"></script>
		</div>

		<div id="top">
			<img src="logo3.png">
		</div>
		<div id="akun">
			<h3><?php echo  "ADMIN - ".$_SESSION["user"]["nama"]; ?></h3>
		</div>
		

	</div>
	<div id="bawah">
		<div class="navigation">
			<?php 
				if($_SESSION["user"]["id_jabatan"] == 2){
				echo "<p><a href='beranda.php'>Beranda</a></p>";
				echo "<center><div class='garisnav'></div></center>";
				echo "<p><a href='gudeg_duta_nota_penjualan.php'>Nota Penjualan</a></p>";
				echo "<p><a href='gudeg_duta_rincian.php'>Rincian</a></p>";
				echo "<p><a href='gudeg_duta_reservasi.php'>Reservasi</a></p>";
				echo "<p><a href='gudeg_duta_meja.php'>Meja</a></p>";
				echo "<center><div class='garisnav'></div></center>";
				echo "<p><a href='gudeg_duta_presensi.php'>Presensi</a></p>";
				echo "<p><a href='gudeg_duta_absen.php'>Absen</a></p>";
				echo "<center><div class='garisnav'></div></center>";
				echo "<p><a href='logout.php'>Logout</a></p>";
				}
				else{
				echo "<p><a href='beranda.php'>Beranda</a></p>";
				echo "<center><div class='garisnav'></div></center>";
				echo "<p><a href='gudeg_duta_makanan.php'>Makanan</a></p>";
				echo "<p><a href='gudeg_duta_kategori_makanan.php'>Kategori Makanan</a></p>";
				echo "<center><div class='garisnav'></div></center>";
				echo "<p><a href='gudeg_duta_pelanggan.php'>Pelanggan</a></p>";
				echo "<center><div class='garisnav'></div></center>";
				echo "<p><a href='gudeg_duta_nota_penjualan.php'>Nota Penjualan</a></p>";
				echo "<p><a href='gudeg_duta_rincian.php'>Rincian</a></p>";
				echo "<p><a href='gudeg_duta_diskon.php'>Diskon</a></p>";
				echo "<p><a href='gudeg_duta_reservasi.php'>Reservasi</a></p>";
				echo "<p><a href='gudeg_duta_meja.php'>Meja</a></p>";
				echo "<center><div class='garisnav'></div></center>";
				echo "<p><a href='gudeg_duta_karyawan.php'>Karyawan</a></p>";
				echo "<p><a href='gudeg_duta_presensi.php'>Presensi</a></p>";
				echo "<p><a href='gudeg_duta_absen.php'>Absen</a></p>";
				echo "<p><a href='gudeg_duta_jabatan.php'>Jabatan</a></p>";
				echo "<center><div class='garisnav'></div></center>";
				echo "<p><a href='gudeg_duta_keuangan.php'>Keuangan</a></p>";
				echo "<p><a href='gudeg_duta_kategori_transaksi.php'>Kategori Transaksi</a></p>";
				echo "<center><div class='garisnav'></div></center>";
				echo "<p><a href='halaman_laporan.php'>Laporan</a></p>";
				echo "<center><div class='garisnav'></div></center>";
				echo "<p><a href='logout.php'>Logout</a></p>";
				}
			?>
			
		</div>
		<script>
$( document ).ready(function() {
	var elems = document.getElementsByClassName('ahapus');
    var konfirm = function (e){
    	
    	if(!confirm('Apakah Anda yakin ingin menghapus ?'))
    	{
    		e.preventDefault();
    	}
    }
    for (var i = 0, l = elems.length; i < l; i++) {
        elems[i].addEventListener('click', konfirm, false);
    }
});
</script>
