#keterangantambah_porsi{

}
#btntambahporsi, #btnkurangporsi{
	display: inline-block;
	
}
#pilihmakanan{
	float:left;
	width: 505px;
}
#keterangantambah{
	margin-left: 10px;
	display: inline-block;
	margin-top:10px;
}
#atas{
	background-color: #ff7600;
}
#makananygdipesan{
	width: 80%;
	height: 250px;
	overflow-y: auto;
	overflow-x: auto;
	border: 1px solid black;
	padding:20px;
	margin-top:20px;
}
#makananygdipesan img{
	float : left;
	width: 150px;
	height: 150px;

}
#listmakanan tbody tr:hover{
	background-color: white;
}
#listmakanan tr:nth-child(even)
{
	background-color: white;
}
#listmakanan td{
	border :1px solid white;
}
.btn {
  background: #ababab;
  background-image: -webkit-linear-gradient(top, #ababab, #828282);
  background-image: -moz-linear-gradient(top, #ababab, #828282);
  background-image: -ms-linear-gradient(top, #ababab, #828282);
  background-image: -o-linear-gradient(top, #ababab, #828282);
  background-image: linear-gradient(to bottom, #ababab, #828282);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: futura md bt;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.btn:hover {
  background: #999999;
  background-image: -webkit-linear-gradient(top, #999999, #424242);
  background-image: -moz-linear-gradient(top, #999999, #424242);
  background-image: -ms-linear-gradient(top, #999999, #424242);
  background-image: -o-linear-gradient(top, #999999, #424242);
  background-image: linear-gradient(to bottom, #999999, #424242);
  text-decoration: none;
}
#judul2{
	font-size: 22px;
}
td a img{
	margin-right: 10px;
}
.navigation{
	font-family: berlin sans fb;
	background-color: #ffa500;
}
h2{
	font-family: futura md bt;
}
#daftarstatistik tr{
	background-color: white;
}
#daftarstatistik tr:hover{
	background-color: white;
}
#daftarstatistik td{
	padding: 10px 80px;
	border: 1px solid white;
}
#judulstat{
	font-family: "Futura Md BT";
}
#selamat{
	font-style: italic;
}
form input{
	width: 21.5%;
}

input[type=datetime-local]{
	margin-left:5px;
	margin-top:6px;
	width: 24.5%;
	height: 30px;
	
}
input[type=submit]{
	width: 80px;
	height: 30px;
}
select{
	margin-top:7px;
	padding: 8px 16px;
	width:25%;
	margin-left:5px;
	

}
.garisnav{
	background-color:#d89900;
	width: 100%;
	height: 2px;
}
#top img{
	padding-top:5px;
	padding-left: 15px;
	float :left;
	width: 100px;
	height: 50px;

}

h1{
	position:fixed;
	top: -10px;
	right: 30px;
	color: white;
	font-family: calibri;
	text-align: center;
	text-shadow: 2px 1px gray;
}

button{
	margin:10px 0px ;
	padding: 5px;
}
table{
	border-collapse: collapse;
	font-size:16px;
	font-family: Futura md bt;
	width: 100%;

}
thead tr{
	
	
	text-align: center;
}
thead td{
	font-size: 16px;
	width: 200px;
}
thead td, tbody td
{
	width: 10px;
	text-align: center;
	white-space: nowrap;
	padding: 8px;
}
#edithapus{
	width:50px;
}
.nomorid{
	width: 35px;
}
tbody td.nomorid{
	text-align: center;
	vertical-align: center;
}
.tanpabiru{
	text-decoration: none;
	color:black;
}
a .tanpabiru:hover{
	cursor: pointer;
}
td{
	border-top-color: #e8e8e8;
    border-top-style: solid;
    border-top-width: 1px;

    border-bottom-color: #e8e8e8;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}
td:last-child{
	border-right-color: black;
    border-right-style: solid;
    border-right-width: 1px;

    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}
td:first-child{
	border-left-color: black;
    border-left-style: solid;
    border-left-width: 1px;
    
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}
tr:last-child td{
	border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
tr:first-child td{
	border-top-color: black;
    border-top-style: solid;
    border-top-width: 1px;
}
tr:nth-child(even)
{
	background-color: #e8e8e8;
}
tbody tr{
	height: 35px;
	font-size:12px;
}
tbody tr:hover{
	background-color: #bbbbbb;
}
img:hover{
	
	filter: brightness(70%);
	cursor:pointer;
}
.navigation a{
	color: black;
	text-decoration: none;

}
.navigation a:hover{
	color: blue;	
	cursor:pointer;
}
#breadcrumb a:hover{
	color: blue;
	
	cursor:pointer;
}
thead{
	background-color: #5d5c5c;
	
	font-size:16px;
	color:white;
}



.icon{
	height: 15px;
	width: 15px;
}

.content{
	padding-top: 55px;
	padding-left: 17%;
	text-align: left;
	overflow-x: hidden;
}
#isi{
	overflow-x: auto;
	padding-left:25px;
}
.frm{
	width: 120px;
	display: inline-block;
}
#breadcrumb{
	padding:7px;
	margin-top:10px;
	display:inline-block;
	background-color:#7d4500;
	width: 90%;
	margin-left:75px;
	overflow-x: visible;
	color : white;
}
#breadcrumb a{
	color:white;
	font-family: futura md bt;
	text-decoration: none;
}
.tombolback{
	display:inline-block;
	position:absolute;
	margin-top:10px;
	z-index: 1;
}
@media screen and (max-width:450px) {
	#top img{
	padding-top:5px;
	padding-left: 15px;
	float :left;
	width: 40px;
	height: 25px;

	}

	#iconcari{
	background-color: transparent;
	top: 10px;
	position: absolute;
	width: 2em;
	margin-left: 140px;
	height: 25px;
	width: 25px;
	}
	#searchbox input{
		height: 5px;
	}
	#searchbox{
	padding-top:5px;
	padding-bottom:10px;
	padding-right: 10px;
	padding-left:10px;
	margin-right:50px;
	float: right;
	}
	input[type=text]{
	margin-top:7px;
	padding: 8px 16px;
	width: 90px;
	}
	

	#atas{
		position:fixed;
		left:0px;
		top:0px;
		right: 0px;
		height: 40px;
		padding-top: 0px;
		margin: 0px;
		
		z-index: 2;
	}
	.navigation{
	position: fixed;
	left: 0px;
	top: 60px;
	bottom: 0px;
	text-align: center;
	width: 16%;
	
	font-size:2.75vw;
	padding-top: 5px;
	overflow-y: auto;

	}

	.navigation p{
	
	
	word-wrap:break-word;
    white-space: normal;
    overflow-y : visible;
    

	}


}
@media screen and (max-width:950px) and (min-width:450px){
	#searchbox input{
		
	}
	#atas{
		position:fixed;
		left:0px;
		top:0px;
		right: 0px;
		height: 60px;
		padding-top: 0px;
		margin: 0px;
		
		z-index: 2;
	}
  .navigation{
	position: fixed;
	left: 0px;
	top: 60px;
	bottom: 0px;
	text-align: center;
	width: 16%;
	
	font-size:2.75vw;
	padding-top: 5px;
	overflow-y: auto;

	}

	.navigation p{
	
	
	word-wrap:break-word;
    white-space: normal;
    overflow-y : visible;
    

	}
	#searchbox{
	padding-top:5px;
	padding-bottom:10px;
	padding-right: 10px;
	padding-left:10px;
	margin-right:60px;
	float: right;
	}
	input[type=text]{
	margin-top:7px;
	padding: 8px 16px;
	
	}
	#iconcari{
	
	background-color: transparent;
	top: 10px;
	position: absolute;
	width: 2em;
	margin-left: 210px;
	
}
}
@media screen and (min-width:950px) {
	#searchbox input{
		
	}
	#atas{
		position:fixed;
		left:0px;
		top:0px;
		right: 0px;
		height: 60px;
		padding-top: 0px;
		margin: 0px;
		

		z-index: 2;
	}
  .navigation{
	position: fixed;
	left: 0px;
	top: 60px;
	bottom: 0px;
	text-align: center;
	width: 16%;

	font-size:20px;
	padding-top: 5px;
	overflow-y: auto;
	}

	.navigation p{
	
	line-height: 1px;
	word-wrap:break-word;
    white-space: normal;
    overflow-y : visible;
    

	}
	#searchbox{
	padding-top:5px;
	padding-bottom:10px;
	padding-right: 10px;
	padding-left:10px;
	margin-right:60px;
	float: right;
	}
	input[type=text], input[type=number]{
	margin-top:7px;
	padding: 8px 16px;
	
	}
	#iconcari{
	
	background-color: transparent;
	top: 10px;
	position: absolute;
	width: 2em;
	margin-left: 210px;
	
	}
}